@import "tailwindcss";

:root {
  --orange: #E8430A;
  --orange-light: #FF5722;
  --rouge: #8B1A0E;
  --noir: #0F0800;
  --noir-card: #1A0F08;
  --noir-light: #2A1A0F;
  --blanc: #F5F0E8;
  --blanc-muted: #C4B8A8;
  --gris: #3A2A1F;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--noir);
  color: var(--blanc);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar custom */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--noir);
}
::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 3px;
}